<ion-header>
  <ion-toolbar>
    <ion-title>Enter Project Name</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Project Name</ion-label>
        <ion-input formControlName="projectName"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="!form.valid">OK</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
