.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.project-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plus-button-container {
  position: absolute;
  width: 50px; 
  height: 50px; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-button {
  position: absolute;
  top: 50%; 
  right: -84px; // Adjust this to position your plus button at the boundary
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #3880ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid white;
}

.subnode {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.svg-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
