<ion-content>
  <div class="project-container">
    <div class="project-circle">
      Project Title
      <div class="plus-button-container" 
           (click)="presentSubNodeCreation(projectTitle)">
        <div class="plus-button">+</div>
      </div>
    </div>
    
    <!-- Subnodes -->
    <div *ngFor="let subNode of subNodes; let i = index" 
     class="subnode" 
     [style.left.px]="getX2(i) - 50"
     [style.top.px]="getY2(i) - 50">
  {{ subNode.title }}
</div>

    <!-- SVG container for the lines -->
    <svg class="svg-container">
      <!-- Lines -->
      <line *ngFor="let subNode of subNodes; let i = index"
        [attr.x1]="centerX + 100" [attr.y1]="centerY" 
        [attr.x2]="getX2(i) - 50" [attr.y2]="getY2(i)" 
        stroke="black" stroke-width="2"/>
    </svg>
    
  </div>
</ion-content>
